* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  background: skyblue;
  height: 200px;
  width: 100%;
}
.Titulo {
  position: relative;
  bottom: 7em;
  left: 3em;
}
